*{
    box-sizing: border-box;
}
.book {
    width: 115px;
    font-size: 14px;
    cursor: pointer;
}

.blockImg:hover{
  width: 130px;
  height: 180px;
}

.book:first-child {
    padding-left: 0;
}

.book:last-child {
    padding-right: 0;
}

.blockImg {
    width: 115px;
    height: 176px;
}

.bookImg {
    width: 100%;
    height: 100%;
}

.bookNameTitle {
    font-weight: 600;
}

.bookAuthorTitle {
    color: #d75f05;
    max-width: 115px;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
