*,
*:before,
*:after {
  box-sizing: border-box;
}

.container {
    margin: 0 auto;
    max-width: 1180px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}
  
.wrapper {
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
    margin-top: 16px;
    margin-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.heading{
    text-align: center;
}

.form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
  }

  .fieldInput {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  
  .formInput {
    width: 300px;
    margin: 10px 0;
    padding: 11px;
    font-size: 14px;
    border: 2px solid #eee;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
  }

  .loginBtn {
    width: 300px;
    height: 48px;
    margin: 10px 0;
    padding: 10px;
    color: rgb(24, 23, 23);
    border: 0;
    background: rgb(249,206,0);
    background: linear-gradient(180deg, rgba(249,206,0,1) 35%, rgba(255,156,0,1) 100%);
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
    border-radius: 10px;

  }