.container{
    margin: 0 auto;
    max-width: 1180px;
    margin-bottom: 40px;
}

.wrapper{
    padding: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}

.insideElem {
    width: 100%;
    max-width: 800px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    background-color: #fff;
    border-radius: 12px;
    overflow: hidden;
    margin-top: 24px;
}

.imgNews {
    max-width: 200px;
    display: flex;
    -webkit-box-flex: 2;
    flex-grow: 2;
    position: relative;
    height: 340px;
}

.textBlock {
    margin: 0 24px;
    max-width: 772px;
}
.textBlock p{
    font-size: 16px;
    line-height: 24px;
}

h4 {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 4px;
}
.categoryList{
    display: flex;
    flex-direction: row;
    justify-content: left;
    font-size: 14px;
}

.categoryList p {
    padding-right: 10px;
    color: #595959;
    margin-bottom: 16px;
}