.book {
    width: 174px;
    font-size: 14px;
}

.book:first-child {
    padding-left: 0;
}

.book:last-child {
    padding-right: 0;
}


.audiobookImg {
    width: 174px;
    height: 176px;
    cursor: pointer;
    transition: all 0.5s ease-out;
}
.audiobookImg:hover{
    width: 200px;
    height: 200px;
}

.bookNameTitle {
    font-weight: 600;
}

.bookAuthorTitle {
    color: #d75f05;
    max-width: 115px;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
