.itemsList{
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 24px;
}

.itemsList .iconItem{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 12px;
    min-width: 195px;
    line-height: 24px;

}

.itemsIcon:first-child{
    padding-left: 0px;
}

ul li span{
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;
}

.icons{
    width: 38px;
    height: 38px;
    padding-left: 10px;
    margin-bottom: 20px;
}